@import "../../../../styles/abstracts/variables",
  "../../../../styles/abstracts/mixins",
  "../../../../styles/abstracts/functions";

.profile-container {
  background-color: rgb(238, 236, 236);
  height: 100%;
}
section div,
form {
  @include alignment($text-align: left);
  p,
  span {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  h3 {
    color: $golden;
    text-align: center;
  }
}
.profile {
  @include alignment($display: flex, $direction: column, $align: center);
  @include box-size($width: 100%, $max-width: 400px);
  box-shadow: $shadowSmall;
  background-color: lighten($graphite, 20%);
  color: $light;
  border-radius: 10px;
  border: 2px solid lightgray;
  .italic {
    @include fonts($color: rgb(214, 212, 212), $style: italic, $weight: 400);
  }
  h1,
  h3,
  .additional-info,
  form {
    padding: 0.5rem 0.8rem;
    @include box-size($width: 100%);
  }
  .image-username {
    @include alignment($align: center);
    padding: 0.5rem 0.8rem;
    img {
      display: inline-block;
      @include box-size($width: 40px, $height: 40px);
      border-radius: 50%;
      margin-right: 10px;
      box-shadow: $shadowBox;
    }
  }
  .additional-info {
    span {
      margin-right: 0.5rem;
      @include fonts($size: 0.8rem);
    }
  }
  form {
    flex-direction: column;
    grid-area: form;
    background-color: $light;
    color: $graphite;
    border-radius: 0 0 10px 10px;
    .btn-action.hover-effect {
      @include fonts($color: $light, $weight: 600);
      @include box-size($width: 180px);
      border-radius: 0;
    }
    .small {
      text-align: center;
    }
    .message-wrapper {
      @include box-size($height: 40px);
      margin-top: 1rem;
    }
  }
}
@media (min-width: 576px) {
  .profile {
    @include alignment($display: grid);
    @include box-size($height: 450px, $width: 560px, $max-width: initial);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "heading3 form" "imageUsername form" "additionalInfo form";
    .profile div {
      text-align: center;
    }
    h3 {
      grid-area: heading3;
    }
    .image-username {
      grid-area: imageUsername;
      @include alignment($direction: column, $justify: center, $align: center);
      img {
        width: 140px;
        height: auto;
        border-radius: 0;
        margin-bottom: 0.8rem;
      }
    }
    .additional-info {
      grid-area: additionalInfo;
    }
    form {
      @include box-size($height: 100%);
      @include alignment(
        $display: flex,
        $direction: column,
        $justify: space-evenly
      );
      border-radius: 0 10px 10px 0;
      .small {
        text-align: left;
      }
    }
  }
}
@media (min-width: 768px) {
  .profile {
    width: 650px;
  }
}
@media (min-width: 992px) {
  .profile-container {
    background-image: $zinc;
  }
}
