  .scale-in-tl {
    animation: scale-in-tl 500ms ease-in both;
  }

  .scale-out-tl {
    animation: scale-out-tl 500ms ease-in both;
  }


  .slide-fade-in {
    animation: fade-in 350ms ease-in both;
  }

  .slide-fade-out {
    animation: fade-out 300ms ease-out both;
  }