@import "../../../../../styles/abstracts/variables",
  "../../../../../styles/abstracts/mixins",
  "../../../../../styles/abstracts/functions";

.progress {
  span {
    display: inline-block;
    @include fonts($color: lighten($graphite, 5%), $size: 0.8rem);
    width: 100%;
    text-align: left;
  }
  .bar-wrapper {
    @include box-size($width: 100%, $height: 0.8rem);
    background-color: rgb(211, 209, 209);
    margin-bottom: 0.3rem;
    border-radius: 1rem;
    .bar-progress {
      @include box-size($height: 0.8rem);
      @include alignment($justify: flex-end, $align: center);
      background-color: green;
      background: $blueGreenGradient;
      border-radius: 1rem;
      span {
        display: inline-block;
        @include fonts($color: $light, $size: 0.8rem, $weight: 700);
        margin-right: 0.7rem;
        width: 100%;
        text-align: right;
      }
    }
  }
}
