@use "sass:color";
@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "abstracts/functions" as *;

.tooltip-box {
  display: none;
  position: absolute;
  bottom: 100%;
  transform: translateX(-50%);
  background-color: color.adjust($graphite, $lightness: 20%);
  @include box-size($min-width: 200px, $max-width: 200px);
  border-radius: 8px;
  padding: 0.8rem;
  @include fonts($color: $light, $size: 0.9rem);
  transition: ease-in-out 0.3s;
  &:first-letter {
    text-transform: capitalize;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -19%;
    right: 50%;
    transform: translateX(-50%);
    border: 0.5rem solid transparent;
    border-top-color: color.adjust($graphite, $lightness: 20%);
  }
}
