<div class="container" id="homeContainer">
  <ng-container *ngIf="highestRatedRecipes.length">
    <app-slider [highestRatedRecipes]="highestRatedRecipes"></app-slider>
  </ng-container>
  <!-- Place for tags -->

  <!-- Latest recipes -->
  <div
    class="home-results-container flex flex-center mgt2"
    *ngIf="latestRecipes.length"
  >
    <img
      src="../../assets/images/small_pngs/recipe-book.png"
      class="block"
      alt="recipe-book"
      loading="lazy"
    />
    <h1 class="slim">Latest Recipes</h1>
    <div class="inner-wrapper flex flex-center">
      <app-query-recipe
        *ngFor="let latestRecipe of latestRecipes | slice: 0:displayedRecipes"
        [singleResult]="latestRecipe"
      ></app-query-recipe>
    </div>
    <button (click)="loadMore()" class="load-more-btn">Load more</button>
  </div>

  <!-- Recommended Recipes -->
  <div
    class="home-results-container flex flex-center mgt2"
    *ngIf="recommendedRecipes.length"
  >
    <img
      src="../../assets/images/small_pngs/chubby-pot.png"
      class="block"
      alt="pot-flowers"
      loading="lazy"
    />
    <h1 class="slim">What to cook today?</h1>
    <div class="inner-wrapper flex flex-center">
      <app-query-recipe
        *ngFor="let recommendedRecipe of recommendedRecipes"
        [singleResult]="recommendedRecipe"
      ></app-query-recipe>
    </div>
  </div>
  <ng-container *ngIf="errorMessage">
    <app-page-error [message]="errorMessage"></app-page-error>
  </ng-container>
  <ng-container *ngIf="isLoading">
    <app-loader [bigLoader]="true"></app-loader>
  </ng-container>
</div>
