<div class="container" id="homeContainer">
  @if (uiService.searchForm) {
    <app-search
      (changeParams)="getNewResults($event)"
    ></app-search>
  }
  @if (highestRatedRecipes.length) {
    <app-slider [sliderRecipes]="highestRatedRecipes"></app-slider>
  }
  <!-- Place for tags -->
  <app-tags></app-tags>
  <!-- Latest recipes -->
  @if (latestRecipes.length) {
    <div
      class="home-results-container flex flex-center mgt2"
      >
      <img
        src="../../assets/images/small_pngs/recipe-book.png"
        class="block"
        alt="recipe-book"
        loading="lazy"
        />
      <h1 class="slim">Latest Recipes</h1>
      <div class="inner-wrapper flex flex-center">
        @for (latestRecipe of latestRecipes | slice: 0:displayedRecipes; track latestRecipe) {
          <app-query-recipe
            [singleResult]="latestRecipe"
          ></app-query-recipe>
        }
      </div>
      <button (click)="loadMore()" class="load-more-btn">Load more</button>
    </div>
  }

  <!-- Recommended Recipes -->
  @if (recommendedRecipes.length) {
    <div
      class="home-results-container flex flex-center mgt2"
      >
      <img
        src="../../assets/images/small_pngs/chubby-pot.png"
        class="block"
        alt="pot-flowers"
        loading="lazy"
        />
      <h1 class="slim">What to cook today?</h1>
      <div class="inner-wrapper flex flex-center">
        @for (recommendedRecipe of recommendedRecipes; track recommendedRecipe) {
          <app-query-recipe
            [singleResult]="recommendedRecipe"
          ></app-query-recipe>
        }
      </div>
    </div>
  }
  @if (errorMessage) {
    <app-page-error [message]="errorMessage"></app-page-error>
  }
  @if (isLoading) {
    <app-loader [bigLoader]="true"></app-loader>
  }
</div>
