<!-- <router-link
    :to="{ name: 'SingleResult', params: { id: recipe._id } }"
    tag="div"
    class="recipeLink block grid"
  > -->
<a [routerLink]="['/recipe', singleResult._id]" class="recipe-link grid">
<!-- <div class="recipe-link grid"> -->
  <figure>
    <ng-container *ngIf="!singleResult.image">
      <img
        src="../../../../assets/images/default_recipe.jpg"
        [alt]="singleResult.mealName"
        class="img-fit"
        loading="lazy"
      />
    </ng-container>
    <ng-container *ngIf="singleResult.image">
      <img
        [src]="singleResult.image"
        [alt]="singleResult.mealName"
        class="img-fit"
        loading="lazy"
      />
    </ng-container>
    <figcaption>{{ singleResult.mealName | sentenceCase }}</figcaption>
  </figure>
  <p class="rating flex flex-center">
    <span class="star-entity">&#9733;</span>
    &nbsp;{{ singleResult.rating }}
    /
    {{
      singleResult.rates.length
        ? singleResult.rates.length + " votes"
        : "not rated"
    }}
  </p>
  <div class="author flex flex-center">
    <ng-container *ngIf="singleResult.author.image">
      <img
        [src]="singleResult.author.image"
        [alt]="singleResult.author.username"
        class="block"
        loading="lazy"
      />
    </ng-container>
    <ng-container *ngIf="!singleResult.author.image">
      <img
        src="../../../../assets/images/default_user.png"
        alt="singleResult.author.username"
        class="block"
        loading="lazy"
      />
    </ng-container>
    <span>{{ singleResult.author.username }}</span>
  </div>
  <p class="intro light-italic pd1">
    {{ singleResult.intro }}
  </p>
<!-- </div> -->
</a>
