<div class="form-wrapper container" >
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="flex pd1" enctype="multipart/form-data" >
      <div class="form-header flex mgb1">
        <h1>Sign Up</h1>
        <p>
          Already have an account?&nbsp;
          <a routerLink="../login" class="signup-link">Sign In</a>
        </p>
      </div>
      <div class="form-group flex flexCenter mgb1">
        <div class="label-wrapper">
            <fa-icon
            [icon]="['fas', 'user']"
            class="user-icons"
            ></fa-icon>
          <input
            type="text"
            id="username"
            placeholder=""
            name="username"
            [(ngModel)]="username"
            required
            pattern="[a-zA-Z0-9_-]{6,15}"
            #usernameControl="ngModel"
          />
          <label for="username">Username</label>
          <span class="tooltip-container"
            >
            <fa-icon
            [icon]="['fas', 'info-circle']"
            class="user-icons infoIcon"
          ></fa-icon>
          <app-tooltip tooltipText="Enter 6-15 characters, allowed: A-Z a-z 0-9 _ - . @"></app-tooltip>
            </span>
        </div>
        <ng-container *ngIf="usernameControl.invalid && usernameControl.touched">
          <p class="error input-error" *ngIf="usernameControl.errors?.required">Username is required</p>
          <p class="error input-error" *ngIf="usernameControl.errors?.pattern">
          Please enter valid username, check
          <span class="tooltip-container"
            ><fa-icon
            [icon]="['fas', 'info-circle']"
            class="infoIcon"
          ></fa-icon></span>
          for details
          </p>
        </ng-container>
      </div>
      <div class="form-group flex flexCenter mgb1">
        <div class="label-wrapper">
          <fa-icon
            [icon]="['fas', 'lock']"
            class="user-icons infoIcon"
          ></fa-icon>
          <input
            [(ngModel)]="password"
            type="password"
            id="password"
            required
            placeholder=""
            name="password"
            pattern="[^\s\n]{6,}"
            #passwordControl="ngModel"
          />
          <label for="password">Password</label>
          <span class="tooltip-container"
            >
            <fa-icon
            [icon]="['fas', 'info-circle']"
            class="infoIcon"
          ></fa-icon>
          <app-tooltip tooltipText="Minimum 6 characters required"></app-tooltip>
            </span>
        </div>
        <ng-container *ngIf="passwordControl.invalid && passwordControl.touched">
          <p class="error input-error">
            Please enter minimum 6 characters
          </p>
        </ng-container>
      </div>
      <!-- signup options -->
      <div class="form-group flex flexCenter upload-section">
        <h4 class="block mgb1">Upload profile image</h4>
        <div class="upload flex">
          <div class="buttons flex">
            <label for="image" class="upload-btn-wrapper hover-effect">
              <input type="file" id="image" />
              Browse image
            </label>
            <button
              class="cancelBtn hover-effect"
            >
              Cancel image
            </button>
          </div>
          <!-- <figure class="flex">
            <img :src="preview" alt="preview" class="imageFit" />
          </figure> -->
        </div>
        <div class="small">
          <!-- <small class="selected block">{{ filename }}</small> -->
          <small class="block">File formats accepted: jpg/jpeg/png/gif</small>
          <small>Maximum upload file size 2Mb</small>
        </div>
      </div>
      <!-- end signup options -->
      <div
      [ngClass]="errorMessage ? 'message-wrapper flex flex-center message-background' : 'message-wrapper center'"
      >
        <ng-container *ngIf="errorMessage">
          <app-info-message [message]="errorMessage" (clear)="onClear('')"></app-info-message>
        </ng-container>
      
      </div>
      <ng-container *ngIf="isLoading">
        <app-loader [bigLoader]="false"></app-loader>
      </ng-container>
      <button
        type="submit"
        class="btn-action sign-up-btn"
        [disabled]="registerForm.invalid"
      >
        Create Account
      </button>
    </form>
  </div>
