@import '../../../../styles/abstracts/variables',
'../../../../styles/abstracts/mixins',
'../../../../styles/abstracts/functions';


.render-results {
  justify-content: flex-start;
}

.results-wrapper,
.inner {
  @include box-size($width: 100%);
  @include alignment($direction: column);
}
.results-wrapper {
  grid-area: results;
  h1,
  h4 {
    color: $golden;
  }
  .successful {
    @include box-size($width: 100%);
    @include alignment($justify: center, $align: center);
    flex-wrap: wrap;
    margin: 1.5rem auto;
  }
}
@media (min-width: 1200px) {
  .results-wrapper {
    @include box-size($width: 1100px);
  }
}
