<div class="overview">
  @if (!isLoading) {
    <h1 class="mgb1 slim">Overview</h1>
    <div class="counts flex">
      <header class="flex flex-center"><h3>Counts</h3></header>
      <div class="counts-inner flex center">
        <div class="flex flex-center">
          <h4>Users</h4>
          <p>{{ usersCount }}</p>
        </div>
        <div class="flex flex-center">
          <h4>Recipes</h4>
          <p>{{ recipeCount }}</p>
        </div>
        <div class="flex flex-center">
          <h4>Comments</h4>
          <p>{{ commentsCount }}</p>
        </div>
      </div>
    </div>
    <section class="center grid">
      <div class="latest-recipes">
        <header class="flex flex-center">
          <h3>Latest recipes</h3>
        </header>
        <div class="inner scrolling">
          @for (recipe of latestRecipes; track recipe) {
            <a
              [routerLink]="['/recipe', recipe._id]"
              class="recipe grid link"
              >
              <figure>
                @if (recipe.image === undefined) {
                  <img
                    src="../../../../assets/images/default_recipe.jpg"
                    [alt]="recipe.mealName"
                    class="img-fit"
                    loading="lazy"
                    />
                }
                @if (recipe.image) {
                  <img
                    [src]="recipe.image"
                    [alt]="recipe.mealName"
                    class="img-fit"
                    loading="lazy"
                    />
                }
              </figure>
              <h5 class="center">{{ recipe.mealName | sentenceCase }}</h5>
              <p class="light-italic created">
                {{ recipe.createdAt | date }}
              </p>
              <p class="author">{{ recipe.author.username }}</p>
            </a>
          }
        </div>
      </div>
      <div class="latest-comments">
        <header class="flex flex-center">
          <h3>Latest comments</h3>
        </header>
        <div class="inner scrolling">
          @for (comment of latestComments; track comment) {
            <div class="comment">
              <h5>{{ comment.author.username }}</h5>
              <p class="light-italic created">
                {{ comment.createdAt | date }}
              </p>
              <p>{{ comment.commentBody }}</p>
              <small class="light-italic"
                >Recipe id: {{ comment.commentedRecipeId }}</small
                >
              </div>
            }
          </div>
        </div>
        @if (mostCommented.length) {
          <app-statistic-box
            title="Most commented recipes"
            [dataArray]="mostCommented"
          ></app-statistic-box>
        }
        @if (mostActiveUsers.length) {
          <app-statistic-box
            title="Most active Users"
            [dataArray]="mostActiveUsers"
          ></app-statistic-box>
        }
      </section>
    }
    @if (isLoading) {
      <app-loader [bigLoader]="true"></app-loader>
    }
  </div>
