<nav
  [ngClass]="!showFullMenu ? 'icons-width' : 'menu-width'"
  (mouseenter)="showFullMenu = true"
  (mouseleave)="showFullMenu = false"
>
  <ul class="flex">
    <li>
      <a
        routerLink="/admin"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block full-width"
      >
        <fa-icon [icon]="['fas', 'chart-bar']" class="user-icon"></fa-icon>
        <span *ngIf="showFullMenu">Overview</span>
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/users"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block full-width"
      >
        <fa-icon [icon]="['fas', 'users']" class="user-icon"></fa-icon>
        <span *ngIf="showFullMenu">Users</span>
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/recipes"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block full-width"
      >
        <fa-icon [icon]="['fas', 'book']" class="user-icon"></fa-icon>
        <span *ngIf="showFullMenu">Recipes</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/admin/comments"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block full-width"
      >
        <fa-icon [icon]="['fas', 'comments']" class="user-icon"></fa-icon>
        <span *ngIf="showFullMenu">Comments</span>
      </a>
    </li>
  </ul>
</nav>
