@import "../../../../styles/abstracts/variables",
  "../../../../styles/abstracts/mixins",
  "../../../../styles/abstracts/functions";

.user-recipes {
  @include box-size($width: 100%, $height: 100%);
  flex: 1 1 auto;
  @include alignment($direction: column, $align: center);
  background-color: rgb(238, 236, 236);
  h1 {
    font-family: "Lobster", cursive;
    color: lighten($graphite, 20%);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
      0px -1px 0px rgba(0, 0, 0, 0.7);
  }
  .list-container {
    @include alignment($direction: column);
  }
}
@media (min-width: 992px) {
  .user-recipes {
    @include background(
      radial-gradient(
        ellipse at center,
        rgba(41, 35, 35, 0.4) 0%,
        rgba(27, 26, 26, 0.5) 100%
      ),
      url("../../../../assets/images/backgrounds/pestle-and-mortar.jpg"),
      $backConfig
    );
    background-attachment: fixed;
    h1 {
      @include fonts($size: 2.2rem, $color: $light);
    }

    .list-container {
      @include alignment($direction: column);
      @include box-size($width: 900px);
      .render-recipes {
        @include box-size($max-width: 900px);
      }
    }
  }
}
