<form
  [formGroup]="recipeForm"
  (ngSubmit)="onRecipeSubmit()"
  enctype="multipart/form-data"
  *ngIf="recipeForm"
  [ngClass]="!uiService.editState ? 'flex pd1' : 'flex pd1 edit-form'"
>
  <fieldset class="inputs-wrapper mgb1">
    <legend>Basic Data</legend>
    <div class="inner center">
      <!-- mealName -->
      <label for="mealName"><span class="required">*</span> Meal Name</label>
      <input
        formControlName="mealName"
        type="text"
        id="mealName"
        required
        placeholder="Meal Name, 4-50 characters"
        minlength="4"
        maxlength="50"
      />
      <div class="warn-wrapper">
        <p
          class="warn"
          *ngIf="
            recipeForm.controls.mealName.touched &&
            recipeForm.controls.mealName.errors
          "
        >
          Title: 4-50 characters required!
        </p>
      </div>
      <!-- description -->
      <label for="intro"><span class="required">*</span> Description</label>
      <textarea
        formControlName="intro"
        id="intro"
        required
        placeholder="Description, 4-150 characters"
        minlength="4"
        maxlength="150"
      ></textarea>
      <div class="warn-wrapper">
        <p
          class="warn"
          *ngIf="
            recipeForm.controls.intro.touched &&
            recipeForm.controls.intro.errors
          "
        >
          Description: 4-150 characters required!
        </p>
      </div>
      <!-- select options -->
      <label for="dishType"><span class="required">*</span> Dish Type</label>
      <div class="select-box">
        <select formControlName="dishType" class="categories">
          <option value="">Select dish type</option>
          <option
            *ngFor="let option of dishTypeOptions"
            [ngValue]="option.toLowerCase()"
          >
            {{ option }}
          </option>
        </select>
      </div>
      <div class="warn-wrapper">
        <p
          class="warn"
          *ngIf="
            recipeForm.controls.dishType.touched &&
            recipeForm.controls.dishType.invalid
          "
        >
          Please select dish type!
        </p>
      </div>
      <label for="level">Difficulty</label>
      <div class="select-box mgb1">
        <select formControlName="level" class="categories">
          <option value="">Select difficulty level</option>
          <option
            *ngFor="let option of difficultyOptions"
            [ngValue]="option.toLowerCase()"
          >
            {{ option }}
          </option>
        </select>
      </div>
      <!-- timing -->
      <label for="timing" class="timing-label"
        ><span class="required">*</span> Preparation Time (in minutes)</label
      >
      <div class="number-wrapper flex">
        <button type="button" class="plus-minus" (click)="decreaseTiming()">
          <fa-icon [icon]="['fas', 'minus']"></fa-icon>
        </button>
        <input type="number" id="timing" formControlName="timing" required />
        <button type="button" class="plus-minus" (click)="increaseTiming()">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </button>
      </div>

      <div class="warn-wrapper">
        <p
          class="warn"
          *ngIf="
            recipeForm.controls.timing.touched &&
            recipeForm.controls.timing.errors
          "
        >
          Preparation time: time in minutes required!
        </p>
      </div>
      <!-- persons -->
      <label for="persons"
        ><span class="required">*</span> Number of persons</label
      >
      <div class="number-wrapper flex">
        <button type="button" class="plus-minus" (click)="decreasePersons()">
          <fa-icon [icon]="['fas', 'minus']"></fa-icon>
        </button>
        <input type="number" id="persons" required formControlName="persons" />
        <button type="button" class="plus-minus" (click)="increasePersons()">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </button>
      </div>
      <div class="warn-wrapper">
        <p
          class="warn"
          *ngIf="
            recipeForm.controls.persons.touched &&
            recipeForm.controls.persons.errors
          "
        >
          Number of persons is required!
        </p>
      </div>
      <!-- regional -->
      <label for="regional">Regional</label>
      <input type="text" id="regional" placeholder="Enter country or region" />
      <!-- checkBoxes -->
      <div class="check-boxes flex">
        <label for="vegetarian" class="block"
          >Vegetarian
          <input type="checkbox" id="vegetarian" formControlName="vegetarian" />
          <span tabindex="0"></span>
        </label>
        <label for="gluten" class="block"
          >Gluten Free
          <input type="checkbox" id="gluten" formControlName="glutenFree" />
          <span tabindex="0"></span>
        </label>
      </div>
    </div>
  </fieldset>
  <!-- Upload photo -->
  <fieldset class="photo-upload mgb1">
    <legend>Image Upload</legend>
    <div class="inner center">
      <div class="images flex">
        <figure
          *ngIf="preview"
          [ngClass]="
            uiService.editState && singleRecipe.image
              ? 'flex flex-center half-size'
              : 'flex flex-center'
          "
        >
          <img
            [src]="preview"
            [alt]="filename"
            loading="lazy"
            class="img-fit"
          />
          <figcaption>Image preview: {{ filename }}</figcaption>
        </figure>
        <figure
          *ngIf="uiService.editState && singleRecipe.image"
          [ngClass]="
            preview ? 'flex flex-center half-size' : 'flex flex-center'
          "
        >
          <img
            [src]="singleRecipe.image.url"
            [alt]="singleRecipe.mealName"
            loading="lazy"
            class="img-fit"
          />
          <figcaption>Current image</figcaption>
        </figure>
        <p *ngIf="uiService.editState && singleRecipe.image === undefined">
          No current image
        </p>
      </div>
      <h4 class="block mgt1">Select recipe image</h4>
      <label for="recipeImage" class="upload-btn-wrapper hover-effect">
        <input type="file" id="recipeImage-w" (change)="uploadFile($event)" />
        Browse image
      </label>
      <button
        type="button"
        class="remove hover-effect"
        *ngIf="preview"
        (click)="removeSelectedImage()"
      >
        Cancel
      </button>
      <div class="small">
        <small class="block">File formats accepted: jpg/jpeg/png/gif</small>
        <small>Maximum upload file size 2Mb</small>
      </div>
      <div class="warn-wrapper">
        <app-info-message
          *ngIf="imgMessage"
          [message]="imgMessage"
          [messageStatus]="false"
          (clear)="onClear('')"
        ></app-info-message>
      </div>
    </div>
  </fieldset>
  <!-- ingredients -->
  <fieldset class="ingredients mgb1">
    <legend>Ingredients</legend>
    <div class="inner center">
      <ul formArrayName="ingredients">
        <li
          class="single-ingredient"
          *ngFor="let ingred of ingredientsControls; let i = index"
          [formGroupName]="i"
          @scaleAnimation
        >
          <label [for]="'ingred' + i"
            ><span class="required">*</span> Ingredient</label
          >
          <input
            type="text"
            placeholder="Enter ingredient"
            required
            [id]="'ingred' + i"
            formControlName="ingredient"
          />
          <div class="warn-wrapper">
            <p
              class="warn"
              *ngIf="
                ingred.get('ingredient')!.touched &&
                ingred.get('ingredient')!.invalid
              "
            >
              Ingredient field is required!
            </p>
          </div>
          <label [for]="'amount' + i"> Amount</label>
          <input
            type="text"
            [id]="'amount' + i"
            placeholder="Enter amount of this ingredient"
            formControlName="amount"
          />
          <button
            type="button"
            class="remove mgt1 tooltip-container"
            [disabled]="ingredientsControls.length === 1"
            (click)="removeIngredient(i)"
          >
            Remove
            <fa-icon [icon]="['fas', 'minus']"></fa-icon>
            <app-tooltip
              tooltipText="Remove this ingredient"
              *ngIf="ingredientsControls.length !== 1"
            ></app-tooltip>
          </button>
        </li>
      </ul>
      <button
        class="mgt1 add tooltip-container"
        type="button"
        (click)="addIngredient()"
      >
        Add
        <fa-icon [icon]="['fas', 'plus']" class="icons"></fa-icon>
        <app-tooltip tooltipText="Add new ingredient"></app-tooltip>
      </button>
    </div>
  </fieldset>
  <!-- steps -->
  <fieldset class="steps">
    <legend>Preparation steps</legend>
    <div class="inner center">
      <ul formArrayName="steps">
        <li
          class="single-step"
          *ngFor="let st of stepsControl; let i = index"
          [formGroupName]="i"
          @scaleAnimation
        >
          <label [for]="'st' + i"><span class="required">*</span> Step </label>
          <textarea
            [id]="'st' + i"
            required
            placeholder="Enter the step of preparation"
            formControlName="step"
          ></textarea>
          <div class="warn-wrapper">
            <p
              class="warn"
              *ngIf="st.get('step')!.touched && st.get('step')!.invalid"
            >
              Preparation step field is required!
            </p>
          </div>
          <button
            type="button"
            [disabled]="stepsControl.length === 1"
            class="remove mgt1 tooltip-container"
            (click)="removeStep(i)"
          >
            Remove
            <fa-icon [icon]="['fas', 'minus']" class="icons"></fa-icon>
            <app-tooltip
              tooltipText="Remove this step"
              *ngIf="stepsControl.length !== 1"
            ></app-tooltip>
          </button>
        </li>
      </ul>
      <button
        type="button"
        class="mgt1 add tooltip-container"
        (click)="addStep()"
      >
        Add
        <fa-icon [icon]="['fas', 'plus']" class="icons"></fa-icon>
        <app-tooltip tooltipText="Add preparation step"></app-tooltip>
      </button>
    </div>
  </fieldset>
  <!-- message -->
  <div class="message-wrapper center">
    <app-info-message
      *ngIf="message"
      [message]="message"
      [messageStatus]="messageStatus"
      (clear)="onClear('')"
    ></app-info-message>
  </div>
  <app-loader [bigLoader]="false" *ngIf="isLoading"></app-loader>
  <button class="submit-btn hover-effect" type="submit">
    Submit {{ !uiService.editState ? "Recipe" : "Changes" }}
  </button>
</form>
