<div class="single-result-container container">
  <!-- place for Search form component -->

  <div class="single-result-wrapper">
    <h1>{{ recipe.mealName | sentenceCase }}</h1>
    <section class="favorites flex">
      <div class="message-wrapper center">
        <!-- Info message -->
        <ng-container *ngIf="infoMessage">
          <app-info-message
            [message]="infoMessage"
            [messageStatus]="msgStatus"
            (clear)="onClear('')"
          ></app-info-message>
        </ng-container>
      </div>
      <!-- Favorites button -->
      <button
        class="add-favorites"
        *ngIf="isSavingEnabled"
        (click)="saveRecipe()"
      >
        Add to favorites &nbsp;
        <span>
          <fa-icon [icon]="['fas', 'plus']" class="plus"></fa-icon>
        </span>
      </button>

      <div
        [ngClass]="isSavingEnabled ? 'changable-save' : 'changable-save heart'"
      >
        <span *ngIf="!isSavingEnabled">Recipe saved</span>
      </div>
      <!-- Rating -->
      <ng-container *ngIf="isRatingEnabled">
        <app-rating
          [recipeId]="recipe.id"
          (updateMsgStatus)="updateMsgStatusHandler($event)"
          (updateMsg)="updateMsgHandler($event)"
          (updateRecipe)="updateRatingHandler($event)"
        ></app-rating>
      </ng-container>
      <p class="user-rating flex flex-center" *ngIf="userRate()">
        Your rate:<span>{{ userRate() }}</span>
        <fa-icon [icon]="['fas', 'star']" class="star-icon"></fa-icon>
      </p>
    </section>
    <section class="basic-info flex mgb1">
      <span class="info tooltip-container">
        <fa-icon [icon]="['fas', 'weight']" class="meal-icons"></fa-icon>
        {{ recipe.level }}
        <app-tooltip tooltipText="Level of difficulty"></app-tooltip>
      </span>
      <span class="info tooltip-container">
        <fa-icon [icon]="['fas', 'users']" class="meal-icons"></fa-icon>
        {{ recipe.persons }}
        <app-tooltip tooltipText="Number of persons"></app-tooltip>
      </span>
      <span class="info tooltip-container">
        <fa-icon [icon]="['fas', 'clock']" class="meal-icons"></fa-icon>
        {{ recipe.timing }}
        <app-tooltip tooltipText="Preparation time"></app-tooltip>
      </span>
    </section>
    <figure class="mgb1">
      <ng-container *ngIf="recipe.image === undefined">
        <img
          src="../../../../assets/images/default_recipe.jpg"
          [alt]="recipe.mealName"
          loading="lazy"
        />
      </ng-container>
      <ng-container *ngIf="recipe.image">
        <img [src]="recipe.image.url" [alt]="recipe.mealName" loading="lazy" />
      </ng-container>
    </figure>
    <!-- Under image - author info & recipe rating/created -->
    <section class="under-image flex mgb1">
      <div class="user-info-rating flex mgb1">
        <button class="user-info tooltip-container">
          <p class="flex flex-center">
            <ng-container *ngIf="recipe.author.user_image === undefined">
              <img
                src="../../../../assets/images/default_user.png"
                alt="user image"
                class="author-image"
                loading="lazy"
              />
            </ng-container>
            <ng-container *ngIf="recipe.author.user_image.url">
              <img
                [src]="recipe.author.user_image.url"
                alt="user image"
                class="author-image"
                loading="lazy"
              />
            </ng-container>
            <span class="author-username">{{ recipe.author.username }}</span>
          </p>
          <app-tooltip tooltipText="See user s recipes"></app-tooltip>
        </button>
        <p class="rating light-italic">
          <fa-icon [icon]="['fas', 'star']" class="star-icon"></fa-icon>
          &nbsp;&nbsp;{{ recipe.rating }} /
          <span class="light-italic"
            >{{
              recipe.rates.length ? recipe.rates.length + " votes" : "not rated"
            }}
          </span>
        </p>
      </div>
      <span class="recipe-date">Created at: {{ recipe.createdAt | date }}</span>
      <p class="intro light-italic">{{ recipe.intro }}</p>
    </section>
    <!-- Recipe additional info -->
    <section class="additional-info flex mgb1">
      <p class="mgb1">
        <span class="slim">Vegetarian: </span>
        <fa-icon
          [icon]="recipe.vegetarian ? ['fas', 'check'] : ['fas', 'times']"
          [ngClass]="
            recipe.vegetarian
              ? 'additional-icons check'
              : 'additional-icons times'
          "
        ></fa-icon>
      </p>
      <p class="mgb1">
        <span class="slim">Gluten Free: </span>
        <fa-icon
          [icon]="recipe.glutenFree ? ['fas', 'check'] : ['fas', 'times']"
          [ngClass]="
            recipe.glutenFree
              ? 'additional-icons check'
              : 'additional-icons times'
          "
        ></fa-icon>
      </p>
      <p *ngIf="recipe.regional" class="mgb1">
        <span class="slim">Regional: </span>{{ recipe.regional | sentenceCase }}
      </p>
      <p class="mgb1">
        <span class="slim">Dish Type: </span
        >{{ recipe.dishType | sentenceCase }}
      </p>
    </section>
    <!-- Ingredients -->
    <section class="ingredients flex mgb1">
      <h3 class="mgb1">Ingredients:</h3>
      <ul class="flex">
        <li *ngFor="let ing of recipe.ingredients" class="mgb1">
          <span>{{ ing.ingredient }}</span
          ><span *ngIf="ing.amount"> - </span>
          <span> {{ ing.amount }}</span>
        </li>
      </ul>
    </section>
    <!-- Directions -->
    <section class="directions flex mgb1">
      <h3 class="mgb1">Directions:</h3>
      <ol class="flex">
        <li
          *ngFor="let st of recipe.steps; let i = index"
          [attr.data-number]="i + 1"
          class="mgb1"
        >
          <p>{{ st.step }}</p>
        </li>
      </ol>
    </section>
    <!-- Comments -->
    <section class="comments">
      <app-comments
        [comments]="recipe.comments"
        [recipeId]="recipe._id"
        (updateRec)="getNewData($event)"
      ></app-comments>
    </section>
  </div>
  <!-- Loader -->
  <ng-container *ngIf="isLoading">
    <app-loader [bigLoader]="true"></app-loader>
  </ng-container>
</div>
